In [1]:
import sys
import os
import py_entitymatching as em
print('magellan version:' + em.__version__)
import re
import csv
import pandas as pd

from constants import csv_headers
import blocker, custom_matcher

magellan version:0.1.0

/Users/Ken/anaconda/lib/python3.5/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
working_dir = os.path.dirname(os.getcwd())
path_to_csv_dir = working_dir + os.sep + 'csv_files'+ os.sep

# STEP 2 - MAGELLAN

### CHOOSE RANDOM FOREST ###

Below are the subsequent steps:
* Downsizing data - using whole AOM dataset with y_parameter of 3
* Blocking using the previous rule on the downsized dataset
* Applying the classifier on the blocked dataset

In [3]:
AOM = em.read_csv_metadata(path_to_csv_dir + '_aom_cleaned.csv', key = csv_headers.AOM_INDEX)
WHED = em.read_csv_metadata(path_to_csv_dir + '_whed_cleaned.csv', key = csv_headers.WHED_INDEX)

AOM.shape
# building inverted index based on B
final_WHED, final_AOM = em.down_sample(WHED, AOM, size=9532, y_param=3)

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:01:18

In [5]:
em.save_table(final_AOM, path_to_csv_dir + 'AOM_sample1.pkl')
em.save_table(final_WHED, path_to_csv_dir + 'WHED_sample1.pkl')

True

In [1]:
final_C = blocker.blocking(final_WHED, final_AOM, csv_headers.WHED, csv_headers.AOM)
final_C.head(n=5)

em.save_table(C, path_to_csv_dir + 'matching_pairs_table_overlap3_emailserver.pkl')

NameError: name 'blocker' is not defined

In [101]:
em.save_table(final_C, path_to_csv_dir + 'final_C.pkl')

File already exists at /Users/thomasngo/_Personal/_Research/Datasets/AOM/_NotToShare/_src/stage3/csv_files/final_C.pkl; Overwriting it
Metadata file already exists at /Users/thomasngo/_Personal/_Research/Datasets/AOM/_NotToShare/_src/stage3/csv_files/final_C.pklmetadata. Overwriting it

True

### Load model and classify

In [102]:
print(final_C.shape)
final_C.head(n=1000)

(27887, 13)

,_id,ltable_a_id,rtable_person_id,ltable_a_name,ltable_a_city,ltable_a_prov,ltable_a_country,ltable_a_web,rtable_a_name,rtable_a_city,rtable_a_prov,rtable_a_country,rtable_a_email_server
0,0,9,54111,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,branbrand,NaN,denmark,u-k.dk
1,1,9,54203,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,aalborg,NaN,denmark,hum.aau.dk
2,2,10,29724,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
3,3,10,14261,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,stratnet.org
4,4,10,43727,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,helsinki,finland,aalto.fi
5,5,10,58505,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
6,6,10,1239,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
7,7,10,9489,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
8,8,10,50927,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
9,9,10,53416,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,aalto,NaN,finland,aaltoee.fi
10,10,10,52765,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,finland,finland,aalto.fi
11,11,10,44615,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
12,12,10,22207,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,hanken.fi
13,13,10,47260,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
14,14,10,48739,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,uusimaa,finland,aalto.fi
15,15,10,58872,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
16,16,10,55992,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,gmail.com
17,17,10,36477,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
18,18,10,58547,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,aalto,NaN,finland,aalto.fi
19,19,10,56106,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,aalto,NaN,finland,aalto.fi
20,20,10,9363,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
21,21,10,54387,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,helsinki,finland,aalto.fi
22,22,10,36067,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
23,23,10,38224,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
24,24,10,54470,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
25,25,10,24930,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
26,26,10,36779,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
27,27,10,6105,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
28,28,10,56107,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,aalto,NaN,finland,tkk.fi
29,29,10,55949,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto.fi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,970,1904,17871,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san jose state university,san jose,california,united states,email.sjsu.edu
971,971,1904,7064,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university chico,chico,california,united states,csuchico.edu
972,972,1904,7736,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san francisco state university,san francisco,california,united states,sfsu.edu
973,973,1904,2878,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university sacramento,sacramento,california,united states,csus.edu
974,974,1904,35658,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university fresno,fresno,california,united states,csufresno.edu
975,975,1904,57561,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state polytechnic university pomona,pomona,california,united states,csupomona.edu
976,976,1904,21,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san diego state university,san diego,california,united states,sdsu.edu
977,977,1904,30746,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state polytechnic university pomona,pomona,california,united states,csupomona.edu
978,978,1904,18844,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san jose state university,san jose,california,united states,sjsu.edu
979,979,1904,38354,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university fullerton,fullerton,california,united states,gmail.com
980,980,1904,7373,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san francisco state university,san francisco,california,united states,sfsu.edu
981,981,1904,2486,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university san bernardino,colton,california,united states,gmail.com
982,982,1904,24864,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san jose state university,san jose,california,united states,gmail.com
983,983,1904,5384,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san diego state university,san diego,california,united states,mail.sdsu.edu
984,984,1904,42324,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san francisco state university,san francisco,california,united states,sfsu.edu
985,985,1904,58760,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,university california san diego,la jolla,california,united states,ucsd.edu
986,986,1904,53130,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california polytechnic state university pomona,pomona,california,united states,hotmail.com
987,987,1904,36123,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university northridge,northridge,california,united states,gmail.com
988,988,1904,20730,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university sacramento,sacramento,california,united states,csus.edu
989,989,1904,8606,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university fullerton,fullerton,california,united states,fullerton.edu
990,990,1904,549,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university fresno,fresno,california,united states,csufresno.edu
991,991,1904,56601,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san francisco state university,san francisco,california,united states,sfsu.edu
992,992,1904,17205,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university fullerton,fullerton,california,united states,fullerton.edu
993,993,1904,29339,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san jose state university,san jose,california,united states,sjsu.edu
994,994,1904,56739,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san francisco state university,san francisco,california,united states,sfsu.edu
995,995,1904,21816,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san francisco state university,san francisco,california,united states,sfsu.edu
996,996,1904,20669,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university,san marcos,california,united states,csusm.edu
997,997,1904,2067,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,california state university bakersfield,bakersfield,california,united states,csub.edu
998,998,1904,1960,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,san diego state university,san diego,california,united states,mail.sdsu.edu
999,999,1904,4807,california polytechnic state university san luis obispo,san luis obispo,california,united states,http://www.calpoly.edu,cal poly san luis obispo,san luis obispo,california,united states,calpoly.edu

In [103]:
final_K = em.extract_feature_vecs(final_C, 
                                feature_table=F, 
                                show_progress=False)  
final_K = em.impute_table(final_K, 
                exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX],
                strategy='mean')

In [104]:
em.save_table(final_K, path_to_csv_dir + 'final_K.pkl')
final_K.head()

File already exists at /Users/thomasngo/_Personal/_Research/Datasets/AOM/_NotToShare/_src/stage3/csv_files/final_K.pkl; Overwriting it
Metadata file already exists at /Users/thomasngo/_Personal/_Research/Datasets/AOM/_NotToShare/_src/stage3/csv_files/final_K.pklmetadata. Overwriting it

,_id,ltable_a_id,rtable_person_id,a_name_a_name_jac_qgm_3_qgm_3,a_name_a_name_cos_dlm_dc0_dlm_dc0,a_name_a_name_jac_dlm_dc0_dlm_dc0,a_name_a_name_mel,a_name_a_name_lev_dist,a_name_a_name_lev_sim,a_name_a_name_nmw,...,a_prov_a_prov_jac_qgm_3_qgm_3,a_prov_a_prov_cos_dlm_dc0_dlm_dc0,a_prov_a_prov_jac_dlm_dc0_dlm_dc0,a_prov_a_prov_mel,a_prov_a_prov_lev_dist,a_prov_a_prov_lev_sim,a_prov_a_prov_nmw,a_prov_a_prov_sw,is_same_server,is_same_single_server
0,0,9,54111,1.0,1.0,1.0,1.0,0.0,1.0,18.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,0.0,0.0
1,1,9,54203,1.0,1.0,1.0,1.0,0.0,1.0,18.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,0.0,1.0
2,2,10,29724,1.0,1.0,1.0,1.0,0.0,1.0,16.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,1.0,1.0
3,3,10,14261,1.0,1.0,1.0,1.0,0.0,1.0,16.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,0.0,0.0
4,4,10,43727,1.0,1.0,1.0,1.0,0.0,1.0,16.0,...,0.893409,0.890104,0.887168,0.956123,1.037413,0.909672,7.301507,8.041462,1.0,1.0

In [105]:
# We have 37 features
final_K.shape

(27887, 37)

In [107]:
rf = em.load_object('./rf_classifier.pkl')
predictions = rf.predict(table=final_K, exclude_attrs=['_id', 'ltable_' + csv_headers.WHED_INDEX, 'rtable_' + csv_headers.AOM_INDEX],
                append=True, target_attr='predicted', inplace=False)

In [110]:
matched = predictions[predictions['predicted'] == 1]
matched.shape
matched_id = matched['_id']
df = final_C.loc[final_C['_id'].isin(matched_id)]
df.to_csv('matched_tuples.csv', index=False)

## Merge two tables

In [46]:
df = em.read_csv_metadata('matched_tuples.csv', key = '_id')
# aom = em.read_csv_metadata(path_to_csv_dir + '_aom.csv', key = 'person_id')
# whed = em.read_csv_metadata(path_to_csv_dir + '_whed.csv', key = 'a_id')
df.head()

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

,_id,ltable_a_id,rtable_person_id,ltable_a_name,ltable_a_city,ltable_a_prov,ltable_a_country,ltable_a_web,rtable_a_name,rtable_a_city,rtable_a_prov,rtable_a_country,rtable_a_email_server
0,0,9,54111,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,branbrand,NaN,denmark,u-k.dk
1,1,9,54203,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,aalborg,NaN,denmark,hum.aau.dk
2,2,10,29724,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto.fi
3,3,10,14261,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,stratnet.org
4,4,10,43727,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,helsinki,finland,aalto.fi

In [59]:
#rename_col
#drop_cols
# modify df to get the final results
drop_list = ['rtable_a_name','rtable_a_city','rtable_a_prov','rtable_a_country','rtable_a_email_server']
df = em.drop_cols(df, drop_list)

df = em.rename_col(df,'ltable_a_id','a_id')
df = em.rename_col(df,'ltable_a_name','a_name')
df = em.rename_col(df,'ltable_a_city','a_city')
df = em.rename_col(df,'ltable_a_prov','a_prov')
df = em.rename_col(df,'ltable_a_country','a_country')
df = em.rename_col(df,'ltable_a_web','a_web')
df = em.rename_col(df,'rtable_person_id','person_id')

In [60]:
df.head()

,_id,a_id,person_id,a_name,a_city,a_prov,a_country,a_web
0,0,9,54111,aalborg university,aalborg,NaN,denmark,http://www.aau.dk
1,1,9,54203,aalborg university,aalborg,NaN,denmark,http://www.aau.dk
2,2,10,29724,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
3,3,10,14261,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
4,4,10,43727,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/

In [71]:
df_new = df.drop_duplicates(subset=['person_id'], keep = False)
em.set_key(df_new,'person_id')
em.drop_cols(df_new,'_id')

,a_id,person_id,a_name,a_city,a_prov,a_country,a_web
0,9,54111,aalborg university,aalborg,NaN,denmark,http://www.aau.dk
1,9,54203,aalborg university,aalborg,NaN,denmark,http://www.aau.dk
2,10,29724,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
3,10,14261,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
4,10,43727,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
5,10,58505,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
6,10,1239,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
7,10,9489,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
8,10,50927,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
9,10,53416,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
10,10,52765,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
11,10,44615,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
13,10,47260,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
14,10,48739,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
15,10,58872,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
16,10,55992,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
17,10,36477,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
18,10,58547,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
19,10,56106,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
20,10,9363,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
21,10,54387,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
22,10,36067,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
23,10,38224,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
24,10,54470,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
25,10,24930,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
26,10,36779,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
27,10,6105,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
28,10,56107,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
29,10,55949,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
30,10,31140,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/
...,...,...,...,...,...,...,...
9267,21814,32072,zayed university,abu dhabi,NaN,united arab emirates,http://www.zu.ac.ae
9268,21814,29338,zayed university,abu dhabi,NaN,united arab emirates,http://www.zu.ac.ae
9269,21814,57865,zayed university,abu dhabi,NaN,united arab emirates,http://www.zu.ac.ae
9270,21814,58100,zayed university,abu dhabi,NaN,united arab emirates,http://www.zu.ac.ae
9271,21814,58832,zayed university,abu dhabi,NaN,united arab emirates,http://www.zu.ac.ae
9272,21818,34311,zeppelin university friedrichshafen,friedrichshafen,NaN,germany,http://www.zeppelin-university.de
9273,21818,44576,zeppelin university friedrichshafen,friedrichshafen,NaN,germany,http://www.zeppelin-university.de
9274,21818,4340,zeppelin university friedrichshafen,friedrichshafen,NaN,germany,http://www.zeppelin-university.de
9306,21952,25143,kyoto kacho university,kyoto,kyoto,japan,http://www.kyotokacho-u.ac.jp/
9307,21952,6537,kyoto kacho university,kyoto,kyoto,japan,http://www.kyotokacho-u.ac.jp/
9309,21966,47165,osaka aoyama university,minoh,osaka,japan,http://www1.osaka-aoyama.ac.jp/
9312,22159,57538,singapore university technology design,singapore,NaN,singapore,http://www.sutd.edu.sg/
9313,22159,38157,singapore university technology design,singapore,NaN,singapore,http://www.sutd.edu.sg/
9314,22159,57536,singapore university technology design,singapore,NaN,singapore,http://www.sutd.edu.sg/
9315,22159,57532,singapore university technology design,singapore,NaN,singapore,http://www.sutd.edu.sg/
9335,22874,17903,vilnius university international business school vilnius university,vilnius,NaN,lithuania,http://www.tvm.vu.lt
9349,23083,56140,university lorraine icn business school,nancy,NaN,france,http://www.icn-groupe.fr/fr
9350,23113,54408,bsp business school berlin potsdam,berlin,NaN,germany,http://www.businessschool-berlin-potsdam.de/
9351,23139,58911,kuhne logistics university,hamburg,NaN,germany,https://www.the-klu.org/
9352,23139,52898,kuhne logistics university,hamburg,NaN,germany,https://www.the-klu.org/
9353,23139,24495,kuhne logistics university,hamburg,NaN,germany,https://www.the-klu.org/
9355,23279,34983,ada university under ministry foreign affairs republic azerbaijan,baku,NaN,azerbaijan,http://www.ada.edu.az
9356,23315,35347,institute advanced studies administration,caracas,distrito capital,venezuela,http://www.iesa.edu.ve
9364,23545,57352,barna business school,santo domingo,NaN,dominican republic,http://www.barna.edu.do
9365,23545,51899,barna business school,santo domingo,NaN,dominican republic,http://www.barna.edu.do
9368,23999,25483,insper teaching research institute,sao paulo,sp,brazil,http://www.insper.edu.br
9369,23999,18756,insper teaching research institute,sao paulo,sp,brazil,http://www.insper.edu.br
9370,23999,58679,insper teaching research institute,sao paulo,sp,brazil,http://www.insper.edu.br
9371,23999,28741,insper teaching research institute,sao paulo,sp,brazil,http://www.insper.edu.br
9372,23999,29799,insper teaching research institute,sao paulo,sp,brazil,http://www.insper.edu.br

In [69]:
df_new.shape

(6520, 8)